<%- include('./partials/cdnlink.ejs')%>
<!-- adding the header  -->
<%- include('./partials/header.ejs')%>
<main>
  <section class="allevents-container">
    <div class="events-card-container">
      <article class="single-eventdetail">
        <h2><%= event.title%></h2>
        <div class="additional-information">
          <p>Location : <span><%= event.location%></span></p>
          <p>Hosted by : <span><%= event.host%></span></p>
          <p>
            Category:<% event.eventcategory.forEach(cv=>{%>
            <span><%= cv.name%></span>
            <% })%>
          </p>
          <div class="like-dislike-container">
            <p>totalLikes:<span><%= event.likes%></span></p>
            <a href="/events/<%=event._id%>/like"
              ><i class="fas fa-thumbs-up"></i
            ></a>
            <a href="/events/<%=event._id%>/dislike"
              ><i class="fas fa-thumbs-down"></i>
            </a>
          </div>
        </div>
        <div class="event-summary">
          <p><%= event.summary%></p>
        </div>
        <div class="cta-container">
          <a href="/events/<%=event._id%>/edit">edit</a>
          <a href="/events/<%=event._id%>/delete">delete</a>
        </div>
      </article>

      <div class="remarks-container">
        <h3>Add remarks</h3>
        <form
          action="/events/<%=event._id%>/remark"
          method="POST"
          class="remark-form-container"
        >
          <input
            type="text"
            name="author"
            placeholder="Enter your name here "
          />
          <textarea
            name="content"
            cols="30"
            rows="6"
            placeholder="enter  remark here "
          ></textarea>
          <input type="submit" value="submit" />
        </form>

        <div class="show-remarks">
          <%event.remarks.forEach(cv=>{%>
          <div class="remark-card">
            <p><%=cv.content%></p>
            <div class="additional-information">
              <div class="like-dislike-container">
                <p>totalLikes:<span><%= cv.likes%></span></p>
                <a href="/events/<%= cv._id%>/<%=event._id%>/like"
                  ><i class="fas fa-thumbs-up"></i
                ></a>
                <a href="/events/<%= cv._id%>/<%=event._id%>/dislike"
                  ><i class="fas fa-thumbs-down"></i>
                </a>
              </div>
              <p><%=cv.author%></p>
            </div>
            <div class="cta-container">
              <a href="/events/remarks/<%=cv._id%>/edit">edit</a>
              <a href="/events/remarks/<%=cv._id%>/delete">delete</a>
            </div>
          </div>
          <%})%>
        </div>
      </div>
    </div>
    <%- include('./partials/sidebar.ejs')%>
  </section>
</main>
